@tailwind base;

@tailwind components;

@tailwind utilities;

h1 {
  font-family: helvetica;
  font-weight: 200;
}

.dropzone {
  border: 3px dashed #888;
  border-radius: 4px;
  color: #aaa;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 2em;
  cursor: pointer;
}
.dropzone:hover {
  background-color: rgba(0, 0, 0, 0.025);
}